### JetBrains (IntelliJ) ###
.idea/
*.iml
*.iws
*.ipr
out/

### Gradle ###
.gradle/
build/
/gradle.properties
# Se decidir não versionar o wrapper (não recomendado):
# gradle/wrapper/gradle-wrapper.jar

### Java/Kotlin ###
*.class
*.war
*.ear
*.jar

### OS e Logs ###
*.log
.DS_Store
Thumbs.db
.history/